<div id="social-buttons" class="pull-right social-button-container right-out">
  <div class="social-button-block">
    <button class="facebook-button social-button" (click)="facebookShare()">
      <i class="facebook-logo"></i>
      <label>Share</label>
    </button>

    <div class="social-button">
      <a
        class="tweet-button"
        ceiboShare [twitter]="{url:url, text:text, hashtags:'atgallery'}"
      >
        <i class="twitter-logo"></i>
        <label>Tweet</label>
      </a>
    </div>
  </div>
</div>
